body {
  font-size: 15px;
  font-family: Helvetica, Arial, "Times New Roman";
  text-align: center;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  background-color: #1f2937;
  align-items: center;
  padding: 20px 0px 20px 100px;
}

.header-logo img {
  width: 64px;
  height: 70px;
  margin-right: auto;
}

.header-anchor {
  display: flex;
  margin-left: auto;
  padding: 0px 30px 0px 0px;
  font-size: 24px;
  gap: 10px;
}

.header-anchor a {
  padding: 10px;
  font-weight: bold;
  flex-direction: row;
  font-size: 28px;
  gap: 10px;
  font-family: "Segoe UI", Verdana;
  text-decoration: none;
  color: white;
}

.header-anchor a:hover {
  color: gray;
}

/* Greek Society */

.greek-society {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #1f2937;
}

.greek-society-content {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  flex-direction: column;
  margin-right: 50px;
  align-items: center;
  margin: 0;
}

.greek-society h1 {
  font-size: 48px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #f9faf8;
  font-weight: bolder;
  margin: 0;
}
.greek-society p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f9faf8;
}

.greek-img img {
  width: 500px;
  height: 350px;
  margin-left: 50px;
  align-self: flex-end;
}

.greek-society button {
  background: #3882f6;
  color: #f9faf8;
  font-size: 24px;
  border: none;
  padding: 10px 30px;
  border-radius: 12px;
  text-align: left;
  font-weight: bold;
}

/* Greek Person */
.famous-greek-person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
  padding: 50px;
}

.famperson {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.famous-greek-person p {
  font-size: 16px;
  color: #24272e;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
}

.famous-greek-person img {
  width: 200px;
  height: 200px;
  margin-right: auto;
  border: solid #3882f6;
  border-radius: 12px;
  margin: 5px 20px 0px 20px;
}

/* Greek Quotes */
.famous-greek-quotes {
  display: flex;
  border: solid red;
}

.famous-greek-quote {
  background-color: #e5e7eb;
  margin: auto;
  padding: 60px;
}
.famous-greek-quote p {
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #1f2937;
  margin: 90px;
  text-align: right;
}

.sign-up {
  padding: 100px;
  text-align: center;
  flex: 1;
  margin: 60px 100px;
  padding: 20px 80px;
  display: flex;
  margin-left: 500px;
}

.sign-up-bar {
  background-color: #3882f6;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
}

.sign-up-bar h2 {
  color: white;
}
.btnsign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.btnsign button {
  color: #fff;
  font-family: "Roboto", arial;
  border-color: #fff;
  border-radius: 8px;
  background-color: #3882f6;
  padding: 5px 25px;
  font-size: 15px;
}

.sign-up-bar p {
  color: #fff;
  opacity: 0.7;
  margin: 0px 30px 30px 50px;
}

/* Footer */
.footer {
  font-family: "Courier New", Courier, monospace;
  background-color: #1f2937;
  margin: 0;
  padding: 0;
  font-size: 36px;
  color: white;
}
